:root {
/* LIGHT THEME COLORS */
    --gray00: #ffffff;
    --gray05: #f5f6f7;
    --gray10: #dfdfe2;
    --gray15: #d0d0d5;

/* DARK THEME COLORS */
    --gray90: #0a0a23;
    --gray85: #1b1b32;
    --gray80: #2a2a40;
    --gray75: #3b3b4f;

/* PRIMARY COLORS */
    --purple: #dbb8ff;
    --yellow: #f1be32;
    --blue: #99c9ff;
    --light-green: #acd157;

/* SECONDARY COLORS */
    --dark-purple: #5a01a7;
    --dark-yellow: #4d3800;
    --dark-blue: #002ead;
    --dark-green: #00471b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: var(--gray00);
    color: black;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: var(--gray90);
    color: var(--gray00);
}

h1 {
    font-size: min(5vw, 2em);
}

h2 {
    font-size: min(5vw, 1.5em);
}

h3 {
    font-size: min(5vw, 1.2em);
}

.title {
    flex: 1 1 200px;
    padding-left: 20px;
}

nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    height: 50px;
}

main {
    display: flex;
}

.sidebar {
    width: 300px;
    height: 100vh;
    background-color: var(--gray05);
    padding: 25px;
}

.sidebar-todo {
    padding-left: 10px;
    color: var(--dark-yellow);
}

.project-name {
    color: var(--dark-yellow);
}

a {
    color: var(--dark-yellow);
    text-decoration: none;
}

#inbox {
    margin-top: 0;
}

.todo-container {
    height: 100vh;
    max-height: 1000px;;
    width: 50vw;
    max-width: 1000px;
    margin: 25px auto;
    padding: 25px;
    background-color: var(--gray10);
}

button {
    text-align: center;
    height: 3em;
    width: auto;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    background-color: var(--dark-purple);
    font-weight: 700;
    color: var(--gray00);
    cursor: pointer;
}

.task-header, .task {
    display: flex;
    justify-content: space-between;

}